.main {
    background-color: #222;

    width: 440px;

    font-family: "Inter", serif;
    font-size: 16px;

    color: #fff;
}

.title {
    font-size: 20px;
}

.checklistContainer {
    list-style-type: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

.checklistIndicator {
    width: 16px;
    height: 16px;
}

.checklistSuccess {
    color: rgb(137, 255, 143);
}

.checklistFail {
    color: rgb(255, 117, 117);
}

.checklistMaybe {
    color: rgb(255, 255, 154);
}

.checklistLoad {
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}